
<section class="dashboard-show">

  <header class="page-header">
    <h1>Stats</h1>
  </header>

  <h3>Products in the database: <%= @productCount %></h3>
  <h3>Categories in the database: <%= @categoriesCount %></h3>

</section>
